.inplay-tabs-container {
  width: 100%;
  height: auto;
  background-color: #172832;

  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    margin: 0%;
    border: 1px solid #fff;
    padding-left: 0px;
    align-items: center;
    border-radius: 1.6vw;
    width: 81.3%;
    margin: 10px 0px 4px 10px;
    .active {
      background: white;
      color: #172832;
    }
    li {
      // background-color: #fff;
      border-right: 1px solid #fff;
      color: white;
      padding: 12px 15px 12px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      // flex: 1;
      font-weight: 800;
      &:last-of-type {
        border-right-width: 0;
      }
      // &:first-child {
      //   border-top-left-radius: 1.6vw;
      //   border-bottom-left-radius: 1.6vw;
      // }
    }
  }
  .search-bar-in-play {
    width: 13%;
    background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: 22px;
    }
  }
}
