.filter-Middle-col2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  width: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 400px;
  .select {
    width: 264px !important;
    .ant-select-selector {
    }
  }
}
