.Account-list-search{
    
    .left-col{
        display: flex;
        .search-input-account-statement{
         width: 250px;
        }
       
        .date-search{
            // position: relative;
            width: 254px;
            height: 100%;
            top: 0px;
            // display: flex;
            // flex-direction: column;
            .rane-picker{
                border: 1px solid #ced4da !important;
                // position:absolute;
                margin: 7px 0px 7px 0px;
            }
        }
    }
}
.selct-account-statement{
display: flex;
flex-direction: column;

}
.ant-select-dropdown  {
    width: 200px !important;
  }
  .account-serch-btn{
    margin-bottom: 13px;

    display: flex;
    gap: 5px;
  }
   
   

