$breakpoint-tablet: 870px;
$breakpoint-mobile: 600px;
$breakpoint-specific: 1218px;
$breakpoint-custom-header: 710px;

.Account-list-search {
  .left-col {
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
    }
    .search-input-account-statement {
      width: 250px;
      height: 100%;
      .search-input-account-div {
        position: relative;
        .dropdown-list {
          width: 100%;
          background-color: white;
          position: absolute;
          z-index: 10;
          top: 90%;
          display: block;
          border: 1px solid rgb(233, 227, 227);
          border-radius: 5px;
          p {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
          }
        }
        .dropdown-list2 {
          display: none;
          p {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
          }
        }
      }
      @media (max-width: $breakpoint-tablet) {
        width: 98%;
      }
    }

    .date-search {
      // position: relative;
      width: 254px;
      height: 100%;
      top: 0px;
      // display: flex;
      // flex-direction: column;
      @media (max-width: $breakpoint-tablet) {
        width: 98%;
      }
      .rane-picker {
        border: 1px solid #ced4da !important;
        // position:absolute;
        margin: 7px 0px 7px 0px;
        @media (max-width: $breakpoint-tablet) {
          width: 98%;
        }
      }
    }
  }
}
.selct-account-statement {
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-tablet) {
    width: 98%;
  }
}
.ant-select-dropdown {
  width: 200px !important;
}
.ant-select {
  @media (max-width: $breakpoint-tablet) {
    width: 98% !important;
  }
}
.account-serch-btn {
  margin-bottom: 13px;

  display: flex;
  gap: 5px;
}

.radio-filter-remark {
  margin-top: 0px;
}
.radio-filter-col {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table-container {
  // .ant-table-thead > tr > th {
  //   padding: 2px 15px 2px 5px !important;
  //   font-size: 12px;
  // }
  .ant-table-tbody > tr > td {
    font-size: 12px;
    padding: 2px 15px 2px 5px !important;
  }
}
