.ant-modal-content {
  padding: 0% !important;
}
.ant-modal-close {
  background-color: black !important;
  width: 20px !important;
  height: 20px !important;
  color: #ffb600 !important;
}
.ant-modal-close {
  display: none;
}

