.tag-live {
    position: absolute;
    top: -6px;
    right: 3px;
    min-width: 33px;
    height: 12px;
    border-radius: 3px;
    padding-right: 3px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    background-image: linear-gradient(180deg, #fb3434 0%, #e80505 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    strong {
      flex: 1;
      height: 100%;
      margin-right: 3px;
      padding: 0 2px;
      width: 20px;
      border-radius: 3px 0px 0px 3px;
      background-image: linear-gradient(180deg, #ffffff 0%, #eeeeee 89%);
      position: relative;
      &::before {
        content: "";
        animation: twinkling 1.4s infinite ease;
        position: absolute;
        width: 18px;
        height: 100%;
        background: url("../../assets/img/alert.svg") no-repeat;
        //   background-size: contain;
        background-position-y: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }