.sider-menu {
  height: calc(100vh - 112px);
  background-color: #fff;
  .ant-menu-item {
    padding-left: 4px !important;
    height: auto;
    height: 100%;
    border-radius: 0px;
    margin-inline: 0px;
    margin-block: 0px;
    width: 100%;
    padding: 4px;
    // background-color: #fff;
    border-bottom: 1px solid #e0e6e6;
    line-height: 17px;
  }
  .ant-menu-submenu-title {
    padding-left: 4px !important;
    height: 24px !important;
    height: 100%;
    border-radius: 0px;
    margin-inline: 0px;
    margin-block: 0px;
    width: 100%;
    padding: 4px;
    color: black !important;
    background-color: #fff;
    border-bottom: 1px solid #e0e6e6;
    line-height: 17px;
    a {
      color: black !important;
    }
  }

  .ant-menu-sub {
    background-color: #dddddd !important;
  }

  .ant-menu-item-selected {
    background-color: black;
    color: white;
  }
}
