.btn-div {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  .bookmaker-odds-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65px;
    border: none;
    justify-content: center;
    border: 1px solid #fff;
    height: 99%;
    border-radius: 3px;
    p {
      margin: 0%;
    }
  }
}
