.edit-btn {
  background: black;
  color: white;
  border: none;

  &:hover {
    background: black !important;
    color: white !important;

    border: none;
  }
}
.get-domain-table-container {
//   width: 600px;
}
