.mobile-footer-container {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0%;
  z-index: 9999;
  display: none;
  @media screen and (max-width: 780px) {
    display: block;
  }
  .mobile-nav {
    background-image: linear-gradient(-180deg, #243a48 20%, #172732 91%);
    ul {
      display: flex;
      align-items: center;
      margin: 0%;
      justify-content: space-between;
      padding: 0%;
      .game-gif {
        position: relative;
        margin-left: 5px;
        top: -10px;
        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: -5px;
          top: -2.5333333333vw;
          width: 110%;
          height: 5.3333333333vw;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          pointer-events: none;
          z-index: -10;
          background-image: url("../../../assets/img/gamegifbefore.svg");
        }
        img {
          width: 17.8666666667vw;
          height: 16.2666666667vw;
        }
        // margin: 0 auto;
      }
      a {
        color: white;
      }
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        height: 100%;
        gap: 3px;
        img {
          width: 6.3333333333vw;
          height: 6.3333333333vw;
        }
        p {
          margin: 0%;
        }
      }
    }
  }
}
