// .warning-header{
//     .ant-modal-title{
//         background-color: #ffc107;
//     }
// }

.warning-header{
    .ant-modal-title{
        background-color: rgb(52, 195, 143);
    }
}
.warning-header-reject{
    .ant-modal-title{
        background-color: rgb(237, 92, 92);
    }
}
.warning-header-Delete-List{
    .ant-modal-title{
        background-color:#ffc107;
    }
}
