
.row-button{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: right;
    Button{
        background-color: #34c38f;
        border-color: #34c38f;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        display: flex;
        gap: 5px;
        text-align: center;
        align-items: center;
        height: 35px;
        // width: 100px;
    }
}
