
.row-button{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: right;
    Button{
        background-color: #34c38f;
        border-color: #34c38f;
        font-weight: 400;
        font-size: 1rem;
        color: white;
        display: flex;
        gap: 5px;
        text-align: center;
        align-items: center;
        height: 35px;
        // width: 100px;
    }
}
.form-container{

    .form{
        border-bottom: 1px solid gray;
        padding: 10px;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-top: 1px solid gray;
        background-color: white;
        margin-top: -17px;
    }
    p{
        // border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 2px solid white;
        background-color: white;
        border-left: 1px solid gray;
        width: 80px;
        text-align: center;
        padding: 8px;
        font-size: 15px;
        position: relative;

        // margin-bottom: -5px;
        z-index: 10;
    }
}