$breakpoint-tablet: 870px;
$breakpoint-mobile: 600px;
$breakpoint-specific: 1218px;
$breakpoint-custom:700px;

.hading-create-accounts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: $breakpoint-mobile) {
        
      
        margin-top: 7%;
        }
    h4{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 0px;
        letter-spacing: 1px;
        margin-bottom: 0px;
        color: #495057;
        @media (max-width: $breakpoint-mobile) {
            padding-left: 5px;
            font-size: 14px;    
        }
    }
    p{
        margin-top: 0px;
        margin-bottom: 0px;
        @media (max-width: $breakpoint-mobile) {
            
            padding-right: 5px;
            }
        a{
            color: black;
            font-size: 12px;
            text-decoration: none;
        }
    }
    
}
.section{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $breakpoint-mobile) {
        height: 100vh;   
    }
}