.in-play-web-container {
  display: flex;
  width: calc(100% - 10px);
  padding-inline: 10px;
  height: calc(100vh - 110px);
  justify-content: space-between;
  position: relative;
  gap: 20px;
  position: sticky;
  top: 124px;
  .in-play-web-left-col {
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .tabs-container {
      position: sticky;
      top: 0px;
      background-color: white;
      z-index: 99999;
    }
  }
  .in-play-web-right-col {
    width: 25%;
    height: 100%;
    padding-top: 1px;
    background-color: white;
    h1 {
      width: 100%;
      padding: 4px;
      margin: 0%;
      display: flex;
      font-size: 12px;
      align-items: center;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(180deg, #2d4a5c 0%, #203846 100%);
      justify-content: space-between;
    }
  }
  p {
    color: black;
  }
}
