.ant-menu{
    // height: 100%!important;
    background-color: transparent;
   
    .ant-menu-item{
        border-radius: 0px;
        .ant-menu-title-content{
            a{
                width: 100%;
                display: flex;
               gap: 5px;
                text-align: center;
                text-decoration: none;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}
.ant-menu-title-content{
    span{
        width: 100%;
                display: flex;
               gap: 5px;
                text-align: center;
                text-decoration: none;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
    }
}
.ant-menu-item-only-child{
    // padding-left: 0px!;
}
.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
background-color: transparent !important;

}
.sider-bar{
    .ant-menu-item{
&:active{
  background-color: transparent !important;
}
        height: auto !important;
    }
    .ant-menu-title-content{
        white-space: break-spaces;
        // line-height: 1.3px;
    }
}
.acount-list{
    line-height: 20px;
    text-align: left;
  margin-top: 3px;
  margin-bottom: 0px;
}


.ant-menu-sub.ant-menu-inline{
    background-color: transparent !important;
}
.ant-menu-item-selected{
    background-color: transparent !important;
   
}
// .ant-menu-dark {
//     color: rgba(255, 255, 255, 0.65)!important;

// }