$breakpoint-tablet: 870px;
$breakpoint-mobile: 600px;
$breakpoint-specific: 1218px;
$breakpoint-medium: 1370px;
$breakpoint-common: 1280px;

.ant-menu {
  // height: 100%!important;
  background-color: transparent;

  .ant-menu-item {
    border-radius: 0px;
    .ant-menu-title-content {
      a {
        width: 100%;
        display: flex;
        gap: 5px;
        text-align: center;
        text-decoration: none;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
.ant-menu-title-content {
  span {
    width: 100%;
    display: flex;
    gap: 5px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
  }
}
.ant-menu-item-only-child {
  // padding-left: 0px!;
}
.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: transparent !important;
}
.sider-bar li ul li ul li {
  line-height: 26px !important;
  padding-left: 45px !important;
  // padding-inline: 0px !important;
  span {
    a {
      text-align: left !important;
    }
  }
}
.sider-bar li:nth-child(6) {
  // padding-bottom: 64px;
  // align-items: flex-start !important;

  // background-color: aqua;
  @media (max-width: $breakpoint-mobile) {
    // padding-bottom: 64px;
    align-items: flex-start;
    // background-color: aqua;
  }
}
.sider-bar {
  // li{
  //     padding-left: 24px !important;
  // }
  .ant-menu-item {
    &:active {
      background-color: transparent !important;
    }
    height: auto !important;
  }
  .ant-menu-title-content {
    white-space: break-spaces;
    // line-height: 1.3px;
  }
}
.acount-list {
  line-height: 20px;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0px;
}

.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
}
.ant-menu-item-selected {
  background-color: transparent !important;
}
// .ant-menu-dark {
//     color: rgba(255, 255, 255, 0.65)!important;

// }
