.ant-menu{
    // height: 100%!important;
    background-color: transparent;
    
    .ant-menu-item{
        border-radius: 0px;
        .ant-menu-title-content{
            a{
                width: 100%;
                display: flex;
               gap: 5px;
                text-align: center;
                text-decoration: none;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
                color: white;
            }
        }
    }
}
.ant-menu-title-content{
    span{
        width: 100%;
                display: flex;
               gap: 5px;
                text-align: center;
                text-decoration: none;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
                color: white;
    }
}
.ant-menu-item-only-child{
    // padding-left: 0px!;
}
.sider-bar{
    .ant-menu-item{

        height: auto !important;
    }
    .ant-menu-title-content{
        white-space: break-spaces;
        // line-height: 1.3px;
    }
}
.acount-list{
    line-height: 20px;
    text-align: left;
  margin-top: 3px;
  margin-bottom: 0px;
}