.sky-trader-comp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #c3d5e0;
  h2 {
    margin: 0%;
    color: #243a48;
    font-size: 20px;
    font-weight: 800;
  }
  span {
    width: 20px;
    background-color: #243948;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-radius: 3px;
    color: white;
  }
}
.balance-div {
  display: flex;
  align-items: center;
  position: relative;
  height: 125px;
  .main-balance-left-col {
    width: 50%;
    border-right: 1px solid #c3d5e0;
    height: 100%;
    p {
      margin: 0%;

      color: #243a48;
      &:nth-child(1) {
        padding: 10px 0px 0px 10px;
        font-size: 15px;
        font-weight: 400;
      }
      &:nth-child(2) {
        padding: 0px 0px 0px 10px;

        font-size: 20px;
        font-weight: 800;
      }
    }
  }
  .skt-trader-balance-right-col {
    height: 100%;
    width: 50%;
    text-align: right;
    p {
      margin: 0%;
      color: #243a48;
      &:nth-child(1) {
        padding: 10px 10px 0px 0px;
        font-size: 15px;
        font-weight: 400;
      }
      &:nth-child(2) {
        padding: 0px 10px 0px 0px;
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
  .amount-input {
    width: 50%;
    height: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    &::before {
      position: absolute;
      content: "";

      width: 12px;
      height: 12px;
      z-index: 10;
      top: 83%;
      left: 47.4%;
      transform: rotate(44deg);
      background-color: white;
      border-bottom: 1px solid #da8700;
      border-right: 1px solid #da8700;
    }
    input {
      border: 1px solid #da8700;
      border-radius: 4px;
      color: #5e7ea3;
      padding: 5px;
      text-align: center;
      font-weight: 800;
      font-size: 18px;
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.27);

      &:focus {
        border: 1px solid #8edc8e;
      }
      &::placeholder {
        text-align: center;
        font-weight: 800;

        font-size: 20px;
      }
    }
  }
}
