$breakpoint-tablet: 870px;
$breakpoint-mobile: 600px;
$breakpoint-specific: 1518px;
$breakpoint-custom-header: 710px;

.pink {
  box-shadow: inset 3px 0 0px rgb(254, 130, 130);
  background-color: #ffb4d0;
}
.blue {
  background-color: #a3e1fa;
  box-shadow: inset 3px 0 0px #3cc1f6;
}
.input-search {
  width: 200px;
  input {
    width: 100%;
  }
}
.current-bets-filter {
  // margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  height: auto;
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .filter-left-col {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  .filter-Middle-col {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
    flex-wrap: wrap;
    width: 250px;
    margin: 7px auto;
    @media (min-width: $breakpoint-specific) {
      width: auto !important;
      align-items: center;
      height: auto;
    }
    @media (max-width: $breakpoint-mobile) {
      width: auto !important;
      align-items: center;
      height: auto;
    }
    Button {
      background-color: black;
      color: white;
    }
  }
  .filter-Right-col {
    // padding-right: 5px;
    // width: 400px;

    text-align: right;
    h5 {
      color: "#495057";
      font-size: 1.015625rem;
      padding-right: 10px;
    }
    @media (max-width: $breakpoint-mobile) {
      text-align: right;
      width: 100%;
    }
    @media (max-width: $breakpoint-tablet) {
      text-align: right;
      width: 100%;
    }
  }
}

.ant-table-wrapper table {
  border-collapse: collapse !important;
}
