.form-upi-card {
  max-width: 500px;
  background-color: white;
  padding: 20px;
}
.form-qr-card {
  max-width: 500px;
  background-color: white;
  padding: 20px;
}
.form-bank-card {
  max-width: 500px;
  background-color: white;
  padding: 20px;
}
