.fancy-heading {
  margin-top: 5.3333333333vw;
  height: 37px;
  ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    height: 100%;
    li {
      list-style: none;
      //   background-image: linear-gradient(-180deg, #0a92a5 0%, #087989 82%);
      height: 100%;
      &:nth-child(1) {
        width: 11.6666666667vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background: url("../../../assets/img/cut.svg"),
          linear-gradient(-180deg, #0a92a5 0%, #087989 82%);
        // background-color: linear-gradient(-180deg, #0a92a5 0%, #087989 82%);
        // background-image: url("../../../assets/img/cut.svg");
      }
      &:nth-child(2) {
        display: flex;
        // padding: 6.8px;
        align-items: center;
        gap: 10px;
        padding-left: 6px;
        padding-right: 6px;

        span {
          padding: 3px;
          height: 20px;
          width: 20px;
          border-radius: 5px;

          img {
            width: 100%;
          }
          background-image: linear-gradient(-180deg, #91d527 0%, #60ba1e 79%);
        }
        p {
          margin: 0%;
          font-weight: 800;
          text-transform: capitalize;
          font-size: 3.7333333333vw;
        }
        background-image: linear-gradient(-180deg, #0a92a5 0%, #087989 82%);
      }
      &:nth-child(3) {
        width: 12.9333333333vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../assets/img/cut2.svg");
        svg {
          font-size: 18px;
        }
      }
    }
  }
}

.fancy-tabs-container {
  width: 100%;
  background-color: #087989;
  height: 34px;
  padding: 5px;
  ul {
    margin: 0%;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    height: 100%;
    padding-left: 3px;
    gap: 5px;
    &::-webkit-scrollbar {
      display: none;
    }
    .active {
      background-color: white;
      color: #087989;
      border-radius: 4px;
    }
    li {
      height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 3.2vw;
      border-right: 1px solid #fffefe38;
      padding: 5px;
      font-weight: 900;
      white-space: nowrap;
    }
  }
}
.game-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  background-color: #e4f1f9;
  p {
    margin: 0%;
    color: black;
  }
}

.fancy-selection-row {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #7e97a7;
  display: flex;

  justify-content: space-between;
  background-color: #fff;
  .fancy-selection-left-col {
    width: 259px;
    font-size: 4vw;
    height: 100%;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.3333333333vw 1.8666666667vw;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .fancy-selection-right-col {
    display: flex;
  }
}
