.ant-drawer-header-title {
  display: flex;
  flex-direction: row-reverse;
}

.ant-drawer-wrapper-body {
  background: black !important;
}
.ant-drawer-header {
  color: white;
  padding: 16px 14px;
  .ant-drawer-header-title {
    .ant-drawer-title {
      color: white;
      font-size: 1.421875rem;
    }
  }
  .ant-drawer-close {
    color: white;
    font-size: 34px;
    &:hover {
      color: white;
    }
  }
}
.drawer {
  width: 500;
  .ant-drawer-body {
    h3 {
      color: white;
      text-align: center;
      width: 100%;
    }
    p {
      color: white;
      text-align: center;
      width: 100%;
    }
  }
  @media (max-width: 767.98px) {
    width: 90%;
  }
}
