.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  background: #000;
  background-image: linear-gradient(180deg, #383838 0%, #010101 100%);
  padding-top: 5px;
  padding-bottom: 10px;
  padding-inline: 20px;
  .left-col-header {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    .logo {
      display: flex;
      height: 100%;
      align-items: center;

      img {
        width: 56px;
        height: auto;
      }
    }
    .event-search-bar {
      height: 100%;
      display: flex;
      align-items: center;
      height: auto;
      width: auto;
      padding-left: 20px;
      display: none;
      @media screen and (min-width: 1280px) {
        display: block;
      }
      .ant-input-affix-wrapper {
        padding: 0px 4px;
        border-radius: 3px;
      }
      input {
        width: 230px;
        margin: 0;
        height: 20px;
      }
    }
  }
  .right-col-header {
    width: 50%;
    display: flex;
    justify-content: end;
    ul {
      display: flex;
      gap: 5px;
      align-items: center;
      margin: 0%;
      padding: 0;
      flex-direction: row-reverse;
      @media screen and (min-width: 780px) {
        flex-direction: row;
      }
      li {
        list-style: none;
        position: relative;
        &:nth-child(1) {
          &::before {
            position: absolute;

            left: 10;
            top: 50%;
            transform: translate(-167%, -50%);
            content: url("../../assets/img/download.svg");
          }
        }
      }
    }
    Input {
      width: 130px;
      height: 25px;
      padding: 2px;
      &::placeholder {
        /* Internet Explorer 10-11 */
        color: #787777;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}
