.bank{
    .ant-table-tbody>tr>td{
        font-size: 12px;
        // font-weight: 600;
        padding: 1px 0px 1px 16px !important;
    
    }
    .ant-table-thead >tr>th{
        font-size: 12px;
        font-weight: bolder!important;
    }
}