$breakpoint-tablet: 870px;
$breakpoint-mobile: 600px;
$breakpoint-specific: 1218px;
$breakpoint-custom-header :710px;

.header-col{
    display: flex;
    align-items: center;
   gap:10px;
   width: 100%;
   background-color: #23292e;
 padding: 0 20px;
 @media (min-width: $breakpoint-specific) {
   justify-content: space-between;
}
@media (max-width: $breakpoint-specific) {
    justify-content: space-between;
 }
//    justify-content: space-around;
@media (max-width: $breakpoint-mobile) {
 width: auto;
 padding: 0 20px;
 justify-content: space-between;
}
@media (max-width: $breakpoint-tablet) {
    width: auto;
    padding: 0 20px;
    justify-content: space-between;
   }
.logo{
    width: 214px;
    text-align: center;
    color: white;
    height: 64px;
    // overflow: hidden;
    display: flex;
    align-items: center;
    img{
        width: 145px!important;
        height: auto!important;
    }
    @media (max-width: $breakpoint-mobile) {
        text-align: left;
      
    }
}
   .serch-input{

        display: flex;
        align-items: center;
        width: 350px;
        height: 40px;
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
        @media (max-width: $breakpoint-specific) {
            display: none;
        }

   input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    &:focus{
        border: none !important;
        outline: none;
    }
   }
   svg{
    height: 100%;
    padding-right: 10px;
    font-size: 24px;
    color: green!important;
    
   }
}
.up-coming{
background-color: black;
color: white;
width: 350px;
height: 50px;
border-radius: 20px;
margin-bottom: 5px;
@media (max-width: $breakpoint-tablet) {
    display: none;
}
marquee{
    height: 100%;
    display: flex;
align-items: center;
}
}
.rule{
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 10px;
    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
    @media (max-width: $breakpoint-custom-header) {
        display: none;
    }
    .col-2{
        display: flex;
        align-items: center;
        gap: 5px;
       
        svg{
            font-size: 20px;
            
            color: #FDCF13;
        }
        p{
            padding: 6px 4px;
            font-size: 14px;
            font-weight: 500;
            color: white;
        }
    }
}
.select{
    height: 100%;
    display: flex;
    align-items: center;
   padding-right: 30px;
    position: relative;
   
    .ant-dropdown-trigger{
        cursor: pointer;
        .ant-space {
            gap: 1px!important;
            .ant-space-item{
                font-size: 18px;
                color: white;
                svg{
                    font-size: 26px;
                }
            }
        }
    }
   
}

}
.ant-dropdown-menu
{
    background-color: black!important;
    .ant-dropdown-menu-item {
        color: white!important;

    }
}
.ant-dropdown {
    top: 63px!important;
    position: fixed!important;
}
.container{
background-color:white ;
width: auto;
padding: 10px;
display: none;
@media (max-width: $breakpoint-mobile) {
    padding: 0px;
}
@media (max-width: $breakpoint-tablet) {
    display: block;
}
    .upcomig-2{
        background-color: black;
        color: white;
        width: 350px;
        height: 40px;
        border-radius: 20px;
        @media (max-width: $breakpoint-mobile) {
            width: 100%;
            border-radius: 0px;
            font-size: 0.9rem;
        height: 40px;

        }
        marquee{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
   
}
 .ant-dropdown-menu-title-content >a {
    color: inherit;
    transition: all 0.2s;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 9px;
}
.ant-dropdown-menu-item{
    &:hover{
        background-color: gray!important;
    }
}
.modal-self-deposit{

    .ant-modal-header{
        display: none;
    }
}