.casino-type-form-container {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-radius: 4px;
  Input {
    border: 1px solid gray;
  }
  Button {
    background-color: #23292e;
    color: white;
    border: none;
    outline: none;
    &:hover {
      background-color: #23292e !important;
      color: white !important;
      border: none !important;
      outline: none !important;
    }
  }
}
