@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.card-container {
  width: 100%;

  //   width: 529px;
  height: 200px;
  position: relative;
  //   background-image: url("../../assets/img/colImage.png");
  background-size: cover;
  .on_live {
    position: absolute;
    z-index: 3;
    right: 0px;
    width: 120px;
    top: -14px;
    background-image: linear-gradient(
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 82%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 6px;
    dt {
      margin-bottom: 12px;
    }
    dd {
      color: rgb(255, 255, 255);
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 7px;
      vertical-align: top;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline-start: 0px;
      span {
        color: rgb(51, 51, 51);
        text-align: center;
        min-width: 16px;
        height: 16px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        padding: 0px 3px;
      }
      p {
        line-height: 16px;
        flex: 1 1 0%;
        margin: 0px;
        text-overflow: ellipsis;
        // white-space-collapse: collapse;
        // text-wrap: nowrap;
        // overflow: hidden;
      }
    }
    .live_icon {
      height: 20px;
      line-height: 20px;
      color: rgb(255, 255, 255);
      padding-right: 5px;
      font-size: 12px;
      font-weight: bold;
      background-image: linear-gradient(
        rgb(251, 52, 52) 0%,
        rgb(232, 5, 5) 100%
      );
      margin: 0px;
      display: inline-flex;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      span {
        height: 100%;
        margin-right: 5px;
        background-image: linear-gradient(
          rgb(255, 255, 255) 0%,
          rgb(232, 232, 232) 100%
        );
        padding: 0px 3px;
        border-radius: 3px 0px 0px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          width: 16px;
          height: 10px;
          content: "";
          animation: twinkling 1.4s infinite ease;
          background: url("../../assets/img/alert.svg") 0% 0% / contain
            no-repeat;
        }
      }
    }
  }
  .entrance-title {
    position: absolute;
    z-index: 4;
    bottom: -14px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(
      270deg,
      rgba(69, 94, 104, 0) 4%,
      rgb(0, 0, 0) 97%
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px solid rgb(255, 184, 12);
    dt {
      font-size: 17px;
      line-height: 28px;
      text-indent: 10px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      flex: 1 1 0%;
    }
    dd {
      width: 80px;
      line-height: 30px;
      height: 100%;
      background-image: url("../../assets/img/border.svg");
      background-size: contain;
      text-indent: 15px;
      font-size: 12px;
      font-weight: bold;
      color: rgb(0, 0, 0) !important;
      background-repeat: no-repeat;
      background-position: left center;
      &::after {
        position: absolute;
        z-index: -1;
        bottom: 0px;
        right: 0px;
        width: 67px;
        height: 100%;
        background-color: rgb(255, 184, 12);
        content: "";
      }
    }
  }
}
