.mainlayout {
  width: 100%;
  height: 100%;
  .mainlayout-header {
    padding-inline: 0px;
    height: auto !important;
    background-color: transparent;
    position: sticky;
    top: 0%;
    z-index: 9;
  }
  .mainlayout-content {
    // height: calc(100vh - 76px);
    @media screen and (max-width: 750px) {
      padding-bottom: 50px;
    }
    width: 100%;
    // overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.7em;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
  .mainlayout-footer {
    // position: fixed;
    width: 100%;
    bottom: 0%;
    padding: 0%;
    z-index: 999999999;
    // display: block;
    //
  }
}

.sub-child-container {
  display: flex;
  gap: 20px;
}
