body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
}
textarea:focus, input:focus{
  outline: none;
}
.loader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-self: center;
  z-index: 2147483645;
 display: flex;
 justify-content: center;
  background-color: rgba(256, 256, 256, 0.3) !important;
}
.loader-modal .ant-modal-body {
  background: transparent !important;
}
.loader-modal .ant-modal-content {
  background: transparent !important;
}
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}  */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #2E3438; 
} */
 
/* Handle */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  background: #e6e6e8; 
  border-radius: 50px;
}
.ant-menu-item{
  margin-block: 0px;
}
.ant-table-wrapper{
  overflow-x: scroll;
}