.user-book{
    tr{
        height: 30px;
    }
    .ant-table-tbody>tr>td{
        font-size: 12px;
        // font-weight: 600;
        padding: 0px 2px 0px 5px !important;
    
    }
    .ant-table-thead >tr>th{
        font-size: 12px;
        padding: 2px 2px 2px 5px!important;
        font-weight: bolder!important;
    }
}