.in-play-odds-btn {
  width: 49%;
  font-size: 11px;
  line-height: 26px;
  padding: 4px 0;
  cursor: pointer;
  color: #1e1e1e;
  height: 100%;
  font-weight: bold;
  margin-right: 1%;
  text-align: center;
  border-left-color: #fff;
}
