.extend-btn {
  width: 49.5%;
 
  padding: 4px 0;
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  font-size: 13px;
  justify-content: center;
  margin-bottom: 8px;
  @media screen and (max-width: 1280px) {
    width: 100%;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
    
      font-size: 13px;
      span {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
      &:nth-child(1) {
        margin-right: 8px;
      }
      &:nth-child(2) {
        border-left: 1px solid rgba(0, 0, 0, 0.5);
        padding-left: 10px;
      }
      img {
        margin-right: 10px;
        width: 26px;
        height: 26px;
      }
    }
  }
}
