.completed-match-table {
  .ant-table-thead {
    .ant-table-cell {
      text-align: right;
    }
  }
  .ant-table-cell-row-hover {
    background-color: transparent !important;
  }
  .ant-table-tbody {
    .ant-table-cell {
      text-overflow: ellipsis;
      white-space: break-spaces;
      // text-align: right;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
