.completed-match-table {
  .ant-table-thead {
    .ant-table-cell {
      text-align: right;
    }
  }
  .ant-table-tbody {
    .ant-table-cell {
      text-align: right;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
