.suportTeam-div {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 25px;
  right: 15px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.26);
  border-radius: 34px 8px 34px 34px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc !important;
  color: #3a4b67 !important;
  border-color: transparent #ccc transparent transparent;
  z-index: 999999999;
  transition: height 1s ease;
  transition: width 0.2s, height 0.2s;
  img {
    width: 38%;
  }
}

.suportTeam-div-toogle {
  width: 100vw;
  height: 100vh;
  background-color: #f4f5f7;
  position: fixed;
  z-index: 99999999;
  transition: height 1s ease;
  // top: 0%;
  // left: 0%;
  bottom: 0%;
  right: 0%;
  transition: width 0.2s, height 0.2s;
  .support-team-top {
    width: 100%;
    height: 9.5rem;
    border-radius: 0 0 12px 12px;
    background: transparent
      linear-gradient(270deg, rgba(0, 0, 0, 0.388) 0%, rgba(0, 0, 0, 0.2) 64%)
      0% 0% no-repeat padding-box;
    .support-team-div-heading {
      display: flex;
      justify-content: space-between;
      // padding: 10px;
      width: 96%;
      border-bottom: 0;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 21px;
      .support-team-header-icon {
        img {
          max-height: 2rem;
          max-width: 10rem;
        }
      }
      .cross-icon {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        opacity: 0.6;
        right: 12px;
        top: 1rem;
        z-index: 10000;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .support-team-body {
    width: 96%;
    margin: auto;
    height: auto;
    margin-top: -60px;
    .support-team-body-top {
      background-color: white;
      width: 100%;
      overflow: hidden;
      border-radius: 6px;
      .channel-title {
        width: 100%;
        padding: 10px;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-bottom: 1px solid #ebecf0;

        p {
          margin: 0%;
          color: #3a4b67;
          font-size: 1rem;
          font-weight: 600;
        }
      }
      .channel-list {
        width: 100%;
        padding: 10px;
        display: flex;
        .channel-list-left {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 2.625rem;
          img {
            height: 2rem;
            width: 2rem;
            border-radius: 6px;
          }
        }
        .channel-list-right {
          width: 100%;
          padding-left: 10px;
          p {
            margin: 0%;
            color: black;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            span {
              color: #3a4b67;
              direction: ltr;
              float: right;
              font-size: 0.75rem;
              font-weight: 500;
              height: 12px;
              line-height: 12px;
              margin: 0.25rem 0;
              opacity: 0.45;
            }
            &:nth-child(2) {
              color: #3a4b67;
              direction: ltr;
              font-size: 0.75rem;
              font-weight: 500;
              height: 12px;
              line-height: 12px;
              margin: 0.25rem 0;
              opacity: 0.45;
            }
          }
        }
      }
    }
  }
}
