.in-play-match-row {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  border-bottom: 1px solid #e0e6e6;
  .in-play-match-row-left-col {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #eee;
    height: 100%;
    .match-name {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        top: 6px;
        left: 7px;
        border-radius: 100px;
        background-color: #508d0e;
      }
      p {
        margin: 0%;
        color: #2789ce;
        font-size: 13px;
        font-weight: 800;
        &:nth-child(2) {
          color: #508d0e;
        }
      }
    }
    span {
      color: #777;
      padding: 5px 6px 5px 0;
      text-align: right;
      line-height: 24px;
      font-size: 13px;
    }
  }
  .in-play-match-row-right-col {
    height: 100%;
    ul {
      height: 100%;
      margin: 0%;
      padding: 0%;
      display: flex;
      align-items: center;
      li {
        width: 126px;
        padding: 2px;
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        border-right: 1px solid #eee;
      }
    }
  }
  .pin-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    img {
      width: 16px;
    }
  }
}
