.sports-highlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffb80c;
  height: 35px;
  padding-inline: 10px;
  p {
    margin: 0%;
    &:nth-child(1) {
      font-weight: 700;
    }
    &:nth-child(2) {
      font-weight: 400;
      font-size: 12px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .ant-select-selector {
    background-color: transparent !important;
    height: 27px !important;
    display: flex;
    align-items: center;
    border: 1px solid black !important;
  }
  .ant-select-arrow {
    color: black;
  }
}
